.style-footer{/* foooter*/
    background-color: white;
    margin-top:1.5%;
}
.footer-information{
    padding: 15px;
    display: flex;
    width: 100%;
    height: 25%;
}
.style1{
    border: dotted;
    display: flex;
    width: 60%;
}
.std-hotline{
    color: black;
}
.block{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    width: 19%;
}
.more-information{
    margin-top: 7%
}
.text-block{
    font-size: 120%;
}
.list-link {
    height: 150%;
    color: gray;
    text-decoration: none;
}
.list-link:hover{
    text-decoration: underline;
}
.email-hotline{
    text-decoration: none;
    color: gray;
}
.icon-connect{
    display: flex;
    width: 8%;
}
.img-tikinow{
    width: 50%;
}
.logo-contact{
    display: flex;
}
.list-logo1{
    width: 40%;
}
.list-logo2{
    width: 250%;
    margin-left: -70px;
}
.list-logo3{
    width: 80%;
}
.icon-install{
    display: flex;
}
.logo-connect{
    width: 14%;
}
.icon-connect{
    width: 80%;
}
.footer-after{
    padding: 10px;
    box-sizing: border-box;
    border: solid 1px white;
    font-family: Inter, Helvetica, Arial, sans-serif;
}

.hidden-block{
    margin-left: 0px;
    margin-right: 0px;
    background-color: white;
    width: 80%;
   
}
.separator{
    border-bottom: 1px solid #e0e0e0;
    margin:0 0 ;
    width: 1100px;
    padding-bottom: 14px;
}

.hidden-block a{
    font-size: 13px;
    line-height: 14px;
    text-decoration: none;
    max-width: fit-content; 
}

.hidden-block span{
    font-size: 13px;
    line-height: 16px;
    color: rgb(128,128,137);
}

.address p{
    font-size: 12px;
    margin: 0px 0px 10px;
    color: rgb(128,128,137);
}

.address h1{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: rgb(56, 56, 61);
    margin-bottom: 12px;
    margin-top: 0px;

}
.slogan h2{
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 4px;
    margin-top: 0px;
    color: rgb(128, 128, 137);
}

.slogan h1{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: rgb(56, 56, 61);
    margin-bottom: 12px;
    margin-top: 0px;
}

.prominent-brand h2{
   font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: rgb(56, 56, 61);
    margin-bottom: 12px;
    margin-top: 0px;
}


.hidden-block .changes-color a{
    font-size: 12px;
    color:rgb(128,128,137);
}


.slogan{
    margin-bottom: 0px 0px 10px;
}

.create-product-column{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
    width: fit-content;
}

.product-catalog h2{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: rgb(56, 56, 61);
    margin-bottom: 12px;
    margin-top: 0px;
}

 .types-of-products a{
    font-size: 12px;
    line-height: 16px;
    color: rgb(128, 128, 137);
    margin-bottom: 12px;
    margin-top: 0px;
}

.title-product a{
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: rgb(128, 128, 137);
}

.product-block {
    margin-bottom: 14px;
    margin-top: 0px;
}

.title-product p{
    font-size: 14px;
    line-height: 2px;
    font-weight: 500;
    color: rgb(128, 128, 137);
    margin: auto;
}

.product-column{
    width: fit-content;
}
@media(max-width:649px){
    .footer-information{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto ;
        column-gap: 15px;
        row-gap: 10px;
    }
    .block{
        width: 90%;
    }.hidden-block{
        margin-left: 0px;
        margin-right: 0px;
        background-color: white;
        position: relative;/* /////////// */
        width: 100%;/* /////////// */
    }
    .separator{
        border-bottom: 1px solid #e0e0e0;
        margin:0 0 ;
        width: 100%;/* /////////// */
        padding-bottom: 14px;
    }
    .prominent-brand{/* /////////// */
        position: relative;/* /////////// */
        width: 90%;/* /////////// */
    }
    .slogan{
        margin-bottom: 0px 0px 10px;
        position: relative;/* /////////// */
        width: 90%;
    }
    .create-product-column{
        display: grid;
        grid-template-columns: repeat(4, 1fr);/* /////////// */
        column-gap: 20px;
        row-gap: 10px;
        width: fit-content;
        position: relative;/* /////////// */
        width: 90%;/* /////////// */
    }
}
@media(min-width:650px) and (max-width:849px){
    .footer-information{
        display: grid;
        grid-template-columns: auto auto ;
        grid-template-rows: auto ;
        column-gap: 15px;
        row-gap: 10px;
    }
    .block{
        width: 90%;
    }.hidden-block{
        margin-left: 0px;
        margin-right: 0px;
        background-color: white;
        position: relative;/* /////////// */
        width: 100%;/* /////////// */
    }
    .separator{
        border-bottom: 1px solid #e0e0e0;
        margin:0 0 ;
        width: 100%;/* /////////// */
        padding-bottom: 14px;
    }
    .prominent-brand{/* /////////// */
        position: relative;/* /////////// */
        width: 90%;/* /////////// */
    }
    .slogan{
        margin-bottom: 0px 0px 10px;
        position: relative;/* /////////// */
        width: 90%;
    }
    .create-product-column{
        display: grid;
        grid-template-columns: repeat(3, 1fr);/* /////////// */
        column-gap: 20px;
        row-gap: 10px;
        width: fit-content;
        position: relative;/* /////////// */
        width: 90%;/* /////////// */
    }
}
@media(min-width:850px) and (max-width:1199px){
    .footer-information{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: auto ;
        column-gap: 15px;
        row-gap: 10px;
    }
    .block{
        width: 90%;
    }.hidden-block{
        margin-left: 0px;
        margin-right: 0px;
        background-color: white;
        position: relative;/* /////////// */
        width: 100%;/* /////////// */
    }
    .separator{
        border-bottom: 1px solid #e0e0e0;
        margin:0 0 ;
        width: 100%;/* /////////// */
        padding-bottom: 14px;
    }
    .prominent-brand{/* /////////// */
        position: relative;/* /////////// */
        width: 90%;/* /////////// */
    }
    .slogan{
        margin-bottom: 0px 0px 10px;
        position: relative;/* /////////// */
        width: 90%;
    }
    .create-product-column{
        display: grid;
        grid-template-columns: repeat(3, 1fr);/* /////////// */
        column-gap: 20px;
        row-gap: 10px;
        width: fit-content;
        position: relative;/* /////////// */
        width: 90%;/* /////////// */
    }
}
@media (min-width:1399px) and (max-width:1500px){
    .hidden-block{
        margin-left: 0px;
        margin-right: 0px;
        background-color: white;
        position: relative;/* /////////// */
        width: 100%;/* /////////// */
    }
    .separator{
        border-bottom: 1px solid #e0e0e0;
        margin:0 0 ;
        width: 100%;/* /////////// */
        padding-bottom: 14px;
    }
    .prominent-brand{/* /////////// */
        position: relative;/* /////////// */
        width: 90%;/* /////////// */
    }
    .slogan{
        margin-bottom: 0px 0px 10px;
        position: relative;/* /////////// */
        width: 90%;
    }
    .create-product-column{
        display: grid;
        grid-template-columns: repeat(4, 1fr);/* /////////// */
        column-gap: 20px;
        width: fit-content;
        position: relative;/* /////////// */
        width: 90%;/* /////////// */
    }
}
@media (min-width:1199px) and (max-width:1399px){
    .hidden-block{
        margin-left: 0px;
        margin-right: 0px;
        background-color: white;
        position: relative;/* /////////// */
        width: 100%;/* /////////// */
    }
    .separator{
        border-bottom: 1px solid #e0e0e0;
        margin:0 0 ;
        width: 100%;/* /////////// */
        padding-bottom: 14px;
    }
    .prominent-brand{/* /////////// */
        position: relative;/* /////////// */
        width: 90%;/* /////////// */
    }
    .slogan{
        margin-bottom: 0px 0px 10px;
        position: relative;/* /////////// */
        width: 90%;
    }
    .create-product-column{
        display: grid;
        grid-template-columns: repeat(4, 1fr);/* /////////// */
        column-gap: 20px;
        row-gap: 10px;
        width: fit-content;
        position: relative;/* /////////// */
        width: 90%;/* /////////// */
    }
}