.container-ID-anno{
    background-color: #F5F5FA;
}

.address-anno{
    color: gray;
}
.inf-anno{
    float: left;
}
.name-anno{
    padding-top: 10px;
}
.left-anno{
    width: 21%;
    font-family: Inter, Helvetica, Arial, sans-serif;
}
.avatar-anno{
    border: 900px ;
    border-radius: 500px;
    width: 50px;
}
.icon-color-anno{
    width: 200px;
    display: flex;
    color: gray;
}
.tap-anno{
    height: 20px;
}
.TTTK-anno{
    width: 40px;
}
.info-icon-anno{
    text-decoration: none;
}
.text-icon-anno{
    font-size: small;
    padding-left: 25px;
}
.ID-anno{
    width: 1185px;
    margin: auto;
    background-color: #f5f5fa;
    display: flex;
}
.size-color-icon-anno{
    width: 12%;
}
.right-anno{
     padding-top: 60px; 
    width: 72%;
}
.form-anno{
    width: 100%;
    background-color: white;
    height: 85%;
    border-radius: 20px;
    margin-top: 2%;
}

/* thong bao */
.form-anno{
    display: flex;
}
.left-form-anno{
    width: 100%;
}
.info-left-form-anno{
    padding-left: 10px;
    padding-top: 25px;
    color: rgb(97, 90, 90);
    
}

.title-anno{
    font-size: larger;
}

.button-icon-anno{
    font-size: 30px;
    padding: 10px 30px;

}

.button-icon-anno i{
    font-size: 30px;
    color: #666666;
}

.button-icon-anno button{
    padding: 0px 20px;
    background-color: white;
    border: none;
}

.notification-content img{
    width: 180px;
}

.notification-content p{
    color: rgba(0, 0, 0, 0.65);
    font-size: 15px;
    font-family: Inter, Helvetica, Arial, sans-serif;
}

.notification-content button{
    font-size: 15px;
    padding: 10px 25px;
    background-color: #FDD835;
    border: none;
    border-radius: 5px;
}

.button:active {
    text-decoration: underline;
}

.notification-content {
    width: 100%;
    height: 100%;
    padding-top: 20%;
    text-align:center;
}

.content-box-announcement{
    border-top: solid 1px #F5F5FA;
    width: 100%;
    height: 100%;
}

.footer-box{
    width: 1260px;
    margin: auto;
}