.all_profitable_sharing{
    background-color: #f5f5fa;
    display: flex;
}
.reward{
    display: flex;
    background-color: #1994FE;
    margin-top: 57px;
    height: 30%;
    width: 978px;
    border-radius: 10px;
}
.title-reward{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-left: 35px;
    margin-top: 40px;
}
.hi-five{
    margin-left: 220px;
    border-radius: 10px;
}
.text-reward{
    margin-top: 10px;
    font-size: large;
}
.tips{
    background-color: white;
    margin-top: 20px;
    padding-left: 18px;
    height: 30%;
    width: 960px;
    border-radius: 10px;
    padding-bottom: 10px;
}
.icon-handmade{
    background-color: #1994FE;
    width: 30px;
    height: 30px;
    color: white;
    border-radius: 18px;
    text-align: center;
}
.num-inside{
    padding-top: 4px;
}
.tip-share{
    font-size: 23px;
    padding-top: 15px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.one{
    margin-left: 16px;
    margin-top: 10px;
    display: flex;
}
.number{
    border: solid 1px #f5f5fa;
    margin-right: 20px;
    border-radius: 8px;
}
.text-number{
    padding-top: 5px;
    margin-left: 10px;
}
.line{
    border-left: solid 1px #ababb3e0;
    margin-left: 31px;
    height: 15px;
    margin-top: 10px;
}
.two{
    margin-top: 10px;
    margin-left: 16px;
    display: flex;
}
.gift-num{
    margin-top: 10px;
    margin-left: 16px;
    display: flex;
    padding-bottom: 10px;
}
.fa-gift{
    color: #1994FE;
    margin-left: 5px;
}