.overoll{
    display: flex;
    margin-left: 25%;
    margin-bottom: 5%;
    border-radius: 10px;
    margin-top: 7%;
    margin-right: 20%;
    position: relative;
    z-index: 2;
    width: 50%;
}
.left{
    width: 100%;
}
.right{
    background-color: white;
    padding-left: 6%;
    padding-right: 13%;
    margin-bottom: 4px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.img-tiki{
    width: 100%;
    border-top-left-radius:  10px;
    border-bottom-left-radius: 10px;
}
input {
    height: 30px;
    border: none;
    margin-top: 20px;
}

.name{
    display: flex;
}
.big-title{
    color: #1ba8ff;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: -10px;
}
.title{
    color: #1ba8ff;
    margin-top: 30px;
}
.password{
    display: flex;
}
.comfirm-password{
    display: flex;
}
.gmail{
    display: flex;
}
.phone-number{
    width: 400%;
}
.nation{
    display: flex;
}
.select-nation{
    width:300px;
    margin-top: 24px;
    margin-left: 103px;
    height: 30px;
    padding-right: 42px;
    border: solid 1px gray;
}
.ip-name{
    width:300px;
    margin-left: 100px ;
    border-bottom: solid 1px gray;
}
.ip-pass{
    width:300px;
    margin-left: 72px ;
    border-bottom: solid 1px gray;
}
.ip-comfirm-pass{
    width:300px;
    margin-left: 72px ;
    border-bottom: solid 1px gray;
}
.ip-email{
    width:300px;
    margin-left: 105px ;
    border-bottom: solid 1px gray;
}
.ip-pn{
    width:300px;
    margin-left: 35px;
    border-bottom: solid 1px gray;
}
body{
    background-image: url('/Tiki.vn/Home/IMG/img-signup_signin/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden; /*ngăn cuộn ngang*/
    font-family: sans-serif;
}
.overlay {
    position: absolute; /* Định vị tuyệt đối để phủ lên hình nền */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Màu đen với độ mờ 50% */
    z-index: 1; /* Để lớp overlay nằm phía trên hình nền */
}/*z-index dùng để xác định thứ tự xếp chồng*/
.but{
    text-align: center;
    margin-top: 80px;
}
.style-button{
    border-color: #1ba8ff;
    background-color: #1ba8ff;
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
}
.disabled{
    color: gray;
}
