body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* dinh dang thanh freeship tren cung*/
.freeship{
    height: 50px;
    background-color: #f0fef4;
}
.text{
    padding-top: 0.9%;
    font-family: arial;
    font-size: 75%;
    text-align: center;
    color: #16b365;
}
#FS{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #1670ff;
    font-size: 110%;
}
#xtra{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #0daf5ed8;
    font-size: 110%;
}
.container-header{
    display: flex;
    height: 20%;
}
/* style header */
.home-logo{  /* dinh dang div logo home */
    position: relative;
    width: 8%;
    text-align: center;
    margin-left: 13%;
}
.link-home-logo{
    text-decoration: none;
}
.home-logo #logo{  /* dinh dang kich thuoc cua logo home*/
    width: 85%;
}
.home-logo #text{ /* dinh dang text cua logo home*/
    font-family: Arial, Helvetica, sans-serif;
    color: #0d48a6;
}
/* Thanh tìm kiếm */
.container-search{
    width: 67%;
}
.icon-search{     /* kich thuoc icon search */
    padding-top: 1%;
    padding-left: 2%;
    width: 2.5%;
    height: 55%;
}
.input-search{
    border: none;
    width: 80%;
}
.button-search{  /* dinh dang nut tim kiem*/
    width: 1%;
    border: none;
    background-color: white;
    border-left: solid 0.4px rgb(224, 224, 224);
    text-align: center;
    padding-left: 2.5%;
}
.link-search{  /*dinh dang text cua nut search */
    text-decoration: none;
    text-align: center;
    color: #1670ff;
    font-size: 90%;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1%;
}
.middle-container{  /* dinh dang div o tren*/
    margin-left: 1%;
    position: absolute;
    display: flex;
    width: 1300px;
    height: 4%;
    margin-top: 15px;
}
.search{ /*chieu dai cua thanh tim kiem*/
    display: flex;
    width: 66%;
    height: 120%;
    border: solid 0.5px rgb(224, 224, 224);
    border-radius: 10px;
}
.menu-shortcut{  /* dinh dang div cua thanh chuc nang*/
    display: flex;
    margin-left: 1%;
}
.shortcut-home{ /*dinh dang chuc nang nut trang chu */
    border: solid 0px;
    border-radius: 10px;
    display: flex;
    width: 160px;
    padding: 2%;
    margin-left: 10%;
}
.shortcut-home:hover{
    background-color: #e0ecff;
}
.icon-home{  /* dinh dang icon home*/
    width: 30px;
    height: 30px;
}
.link-shortcut-home{  /* dinh dang text */ 
    color: #0071ff;
    text-align: justify;
    text-decoration: none;
    margin-top: 5px;
    margin-left: 5%;
    font-size: 110%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.shortcut-user{ /*dinh dang nut tai khoan */
    border: solid 0px;
    border-radius: 10px;
    width: 130px;
    padding: 2%;
}
.icon-user{ /* dinh dang icon*/
    width: 23px;
    height: 23px;
}.list-shortcut-user{
    position: relative;
    z-index: 5;
    background-color: white;
    display: none;
    color: black;
    border: solid 1px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 200px;
    height: 165px;
    font-family: Arial, Helvetica, sans-serif;
    border: 0.5px gray solid;
}
.shortcut-user:hover .list-shortcut-user{
    display: block;
}
.list-option{
    height: 30px;
    padding-top: 10px;
    padding-left: 10px;
}
.list-option:hover{
    display: block;
    background-color:#e5e5e5;
    
}
.text-list-shorcut{
    color: black;
    width: 200px;
    text-decoration: none;
}
.shortcut-user:hover{
    background-color: #e5e5e5;
}
.link-shortcut-user{/* dinh dang text */ 
    text-align: justify;
    color: rgb(167, 166, 166);
    text-decoration: none;
    margin-left: 5%;
    font-size: 110%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.shortcut-shoppingcart{ /* dinh dang nut gio hang*/
    border-radius: 10px;
    margin-top: 1%;;
    margin-left: 5px;
    padding-left: 5px;
    height: 90%;
    display: flex;
}
.shortcut-shoppingcart:hover{
    background-color: #e0ecff;
}
.icon-card{
    width: 90%;
}
.number{
    display: flex;
    background-color: red;
    border:5px solid red ;
    border-radius: 200px;
    width: 3%;
    height: 10%;
}
.signInUp{
    padding: 20px;
}
.button-signIn{
    color: #0071ff;
    text-align: center;
    border-radius: 10px;
    padding-top: 5px;
    float: right;
    width: 100px;
    height: 25px;
    border: solid 0.5px #0071ff;
    background-color: white;
}
.button-signUp{
    color: #0071ff;
    margin-top: 5px;
    top: 10px;
    display: block;
    text-align: center;
    border-radius: 10px;
    padding-top: 5px;
    float: right;
    width: 100px;
    height: 25px;
    border: solid 0.5px #0071ff;
    background-color: white;
}
.button-signIn:hover{
    background-color: #e0ecff;
}
.button-signUp:hover{
    background-color: #e0ecff;
}
.link-button-signInUp{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    text-decoration: none;
    background-color: rgb(70, 70, 53);

}
/*bottom header*/
.bottom-container{
    position: absolute;
    display: flex;
    margin-top: 3.5%;
    width: 100%;
}
.list-recommend{
    width: 50%;
    height: 5%;
}
.address{
    z-index: 3;
}
.link-recommend{
    width: 60%;
    height: 30px;
    text-decoration: none;
    color: gray;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 90%;
    padding-left: 1%;
}
.location{
    display: flex;
    width: 500px;
    height: 40px;
    color: black;
}
.img-location{
    width:22px;
    height: 22px;
    text-decoration: underline;
    color: black;
}
.text-location{
    color: gray;
}
.link-address{
    z-index: 1;
    font-size: 90%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
/* commit */
.commit{
    border:solid 0.5px rgb(202, 201, 201);
    font-size: 90%;
    display: flex;
    height: 7px;
    padding-top: 0.5%;
    padding-bottom: 1.3%;
    padding-left: 10%;
    font-family: Arial, Helvetica, sans-serif;
}
.header-list-commit{
    color: #0256bd;
    margin-left: 3%;
    padding-left: 20px;
}
.first-list-commit{
    padding-left: 20px;
    font-size: 80%;
}
.list-commit{
    height: 20px;
    margin-left: 1%;
    border-left: solid grey 0.5px ;
    padding-left: 20px;
    font-size: 80%;
}
.list-commit-first{
    margin-left: 3%;
    padding-left: 20px;
}
.img-commit{
    width: 20px;
}
#icon-commit{
    color: #0071ff;
}
.sidebar{/* sidebar */
    height: 80vh;
    position: sticky;
    top: 0;
    width: 100%;
    margin-top: 1%;
}
.sidebar:hover{
    overflow-y: auto;
}
.sidebar::-webkit-scrollbar{
    display: none;
}
.list-item-sidebar{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10%;
    padding: 5% 10px;
}
.box-item-sidebar{
    display: flex;
    margin-top: 5%;
    padding-left: 10%;
    padding-right: 8%;
    border-radius: 5px;
}
.box-item-sidebar:hover{
    background-color: #d9d7d7;
}
.header-list-sidebar{
    padding-top: 5%;
    padding-left: 10%;
}
.img-item-sidebar{
    width: 16%;
}
.link-item-sidebar{
    padding: 5px;
    display: flex;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
} 
.text-item-sidebar{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    padding-top: 3%;
    padding-left: 5%;
}

main{/* Main */
    display: flex;
    background-color: #f5f5fa;
    padding-left: 13%;
    padding-right: 13%;
    height: 500%;
}
.container-main{
    margin-left: 1%;
    padding: 0.5%;
    width: 81%;
}
.container-main:hover ~ .sidebar{
    overflow: auto;
}
.main-display{
    overflow: hidden;
}
.slides-show{
    border-radius: 10px;
    position: relative;
    padding-top: 10px;
    background-color: white;
}
.slide-items{
    transition: 0.5s;
    position: relative;
    display: flex;
    height: 300px;
}
.img-slide{
    width: 550px;
    height: 300px;
    border-radius: 3%; 
    margin-left: 15px;
}
.block-slide-items{
    width: 100%;
    display: flex;
}
.each-button{
    display: none;
    position: absolute;
    font-size:  25px;
    width: 30px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s;
    cursor: pointer;
    color: #1670ff;
    background-color: white;
    border-radius: 50%;
}
.slides-show:hover .each-button{
    display: block;
}
.fa-solid{
    margin-left: 6px;
}
.button-left-slide{
    left: 17px;
}
.button-right-slide{
    right: 17px;
}
.dots{
    margin-left: 45%;
    width: 100px;
    left: 50%;
    padding: 0;
    list-style: none;
    display: flex;
}
.dots-slide{
    margin-left: 5px;
    background-color: rgb(174, 173, 173);
    width: 30px;
    height: 5px;
    border-radius: 5px;
}
.active{
    background-color: #1670ff;
}
.list-event{
    display: flex;
    background-color: white;
    border-radius: 15px;
    height: 10%;
    margin-top: 2%;
    padding: 1%;
}
.event{
    color: black;
    text-decoration: none;
    margin-left: 0.4%;
    width: 9.5%;;
}
.img-icon-event{
    width: 50%;
    padding-left: 20%;
    padding-right: 20%;
    border-radius: 35%;
}
.box-text-event{
    text-align: center;
    font-size: 90%;
    font-family: Arial, Helvetica, sans-serif;
}
.list-top-deal{/* muc top-deal */
    background-color: white;
    border-radius: 15px;
    height: 400px;
    margin-top: 2%;
    padding: 1%;
}
.text-top-deal{
    left: 0;
    color: #db424d;
}
.list-box{
    display: flex;
    margin-top: 1%;
}
.box{
    background-color: white;
    margin-left: 0.5%;
    border: solid 0.5px #dadada;
    border-radius: 5%;
    width: 180px;
    height: 350px;
}
.link-box-item{
    color: black;
    text-decoration: none;
}
.img-of-box{
    height: 49%;
}
.div-info{
    height: 50%;
    margin-left: 2%;
}
.icon-star-feedback{
    display: flex;
}
.icon-star-rate{
    width: 15px;
}
.info-item{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    height: 65px;
}
.description-item{
    height: 100%;
    display: -webkit-box;
    max-height: 3.2rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    line-height: 1.6rem;
}
.cost-item{
    height: 35%;
    margin-top: 3%;
    font-family: Arial, Helvetica, sans-serif;
}
.sale-off-item{
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    font-size: 90%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}
.cost-item-after{
    color: #ff5762;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cost-item-before{
    font-size: 85%;
    color: #acaaaa;
}
.some-img-of-box{
    border-radius: 10px;
    position: absolute;
    width: 175px;
    height: 171px;
}
.info-of-box{
    position: absolute;
}
.img-top-deal{
    width: 20%;
}.link-all-item{
    color: #0071ff;
    margin-top: 1%;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: right;
}
.logo-now{
    display: flex;
    margin-left: 1%;
}
hr{
    color: rgb(247, 247, 247);
}
.img-logo-now{
    width: 35px;
}
.text-logo-now{
    font-size: 75%;
    font-size: 70%;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    margin-top: 3%;
}
.item-your-care{/* muc san pham ban quan tam*/
    background-color: white;
    border-radius: 15px;
    height: 400px;
    margin-top: 2%;
    padding: 1%;
}
.header-your-care{
    margin-top: 1%;
    height:20px;
}
.text-header-your-care{
    font-family: Arial, Helvetica, sans-serif;
}
.plash-sale{ /* dinh dang muc flash sale*/
    background-color: white;
    border-radius: 15px;
    height: 280px;
    margin-top: 2%;
    padding: 1%;
}
.header-flash-sale{
    margin-top: 1%;
    height:20px;
}
.link-box-flash-sale{
    text-decoration: none;
}
.text-header-flash-sale{
    font-family: Arial, Helvetica, sans-serif;
}
.item-flash-sale{
    background-color: #FF4C57;
    padding: 5px;
    color: white;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.symbor-item{
    color: #acaaaa;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.list-box-flash-sale{
    width: 100%;
    display: flex;
    margin-top: 10px;
}
.box-flash-sale{
    margin-top: 10px;
    margin-left: 20px;
    height: 210px;
    width: 200px;
    padding: 5px;
}
.img-box-FS{
    width: 150px;
    height: 150px;
}
.img-sale-off{
    background-color: rgb(185, 160, 164);
    width: 150px;
    position: absolute;
}
.number-sale-off{
    position: absolute;
    color: #FF6E77;
    padding:4px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: pink;
    z-index: 1000;
    border-radius: 4px;
    margin-top: 5px;
}
.content-box-FS{
    height: 50px;
    margin-top: 5px;
}
.cost-sale-off{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #FF6E77;
    height: 30px;
}
.remaining-products{
    background-color: #FFAEB3;
    margin-top: 4px;
    height: 18px;
    border-radius: 20px;
}
.icon-fire{
    position: absolute;
    width: 25px;
    margin-left: 7px;
    margin-top: -10px;
}
.content-remaining-products{
    position: absolute;
    text-align: center;
    margin-left: 3.4%;
    color: white;
    font-size: 80%;
}
.level-remaining{
    position: absolute;
    background-color: #FF4C57;
    height: 18px;
    border-radius: 20px;
    color: #FF4C57;
}
.prominent-brand-items{
    border-radius: 10px;
    margin-top: 20px;
    height: 280px;
    background-image: linear-gradient(180deg,#e2ecfe,#FFFFFF);
    padding-top: 20px;
    padding-bottom: 20px;
}
.header-list-prominent-brand{
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.first-items-prominent-brand{
    display: flex;
    height: 250px;
    margin-top: 15px;
}
.img-brand{
    border-radius: 10px;
    margin-left: 18px;
    height: 243px;
    width: 166px;
}
.items-foreign{
    background-color: white;
    border-radius: 15px;
    height: 400px;
    margin-top: 2%;
    padding: 1%;
}
.header-items-foreign{
    height: 20px;
}
.text-header-items-foreign{
    font-family: Arial, Helvetica, sans-serif;
}
.items-sale-off{
    margin-top: 20px;
    border-radius: 10px;
    background-color:white;
    height: 390px;
    padding-top: 5px;
}
.list-items-sale-off{
    margin-top: 15px;
    display: flex;
    height: 170px;
}
.item-sale-off{
    margin-left: 13px;
    border-radius: 10px;
    width: 174px;
    height: 170px;
}
.maybe-your-like{/* muc ban co the thich*/
    background-color: white;
    border-radius: 15px;
    height: 400px;
    margin-top: 2%;
    padding: 1%;
}

.header-maybe-your-like{
    margin-top: 1%;
    height:20px;
}
.text-header-maybe-your-like{
    font-family: Arial, Helvetica, sans-serif;
}
.recommend-today{/*muc goi y hom nay*/
    background-color: white;
    border-radius: 10px;
    margin-top: 2%;
    height: 300%;
}
.header-recommend-today{
    position: sticky;
    top: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 140px;
    z-index: 10000;
}
.text-header-list-choice{
    padding: 20px;
}
.header-list-choice{
    padding-top: 20px;
    height: 20%;
}
.list-choice{
    display: flex;
    position: absolute;
    width: 100%;
    height: 80%;
}
.tab-choice{
    text-decoration: none;
    margin-top: 10px;
    width: 16%;
    background-color: #fff;
}
.tab-choice:hover{
    background-color: #F2F7FF;
    border-bottom: solid 0.5px  #0071ff; 
}
.tab-choice:hover .img-choice-header{
    background-color: #F2F7FF;
}
.text-choice-header{
    color: #a8a8a8;
    text-align: center;
    font-size: 80%;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
}
.img-choice-header{
    margin-top: 10px;
    background-color: white;
    margin-left: 55px;
    padding: 10px;
    width: 40px;
}
.tab-for-you , .img-for-you{
    background-color: #F2F7FF;
}
.display-items-recommend-today{
    overflow: hidden;
    display: flex;
    padding: 15px;
    background-color: #F5F5FA;
    margin-top: 10px;
}
.content-display{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows:  360px 360px 360px 360px 360px;
    column-gap: 5px;
    row-gap: 5px;
}
.box{
    background-color: white;
    margin-left: 0.5%;
    border: solid 0.5px #dadada;
    border-radius: 5%;
    width: 180px;
    height: 350px;
}
.width-logo-og-big-box{
    padding-top: 20px;
    padding-left: 100px;

    width: 40%;
}
.block-big-box-item{
    grid-column: 1/3;
    border: solid 2px;
    background-color: white;
    margin-left: 0.5%;
    border: solid 0.5px #dadada;
    border-radius: 5%;
    width: 360px;
    height: 350px;
}
.block-big-box-item-2{
    grid-column: 4/6;
    border: solid 2px;
    background-color: white;
    margin-left: 0.5%;
    border: solid 0.5px #dadada;
    border-radius: 5%;
    width: 360px;
    height: 350px;
}
.big-box-item{ /*danh dang form san pham lon*/
    background-color: white;
    margin-left: 0.5%;
    border-radius: 5%;
    width: 360px;
    height: 350px;
}
.logo-brand-item{
    background-image: linear-gradient(180deg,#e2ecfe,#CECFCF);
    position: relative;
    width: 100%;
    height: 50%;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
}
.logo-brand-item-2{
    background-image: linear-gradient(180deg,#e2ecfe,#E56868);
    position: relative;
    width: 100%;
    height: 50%;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
}
.link-big-box{
    text-decoration: none;
}
.img-start-big-box{
    width: 5%;
}
.info-brand-item{
    padding-left: 10px;
    padding-right: 10px;
    height: 50%;
}
.header-big-box{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 20px;
    height: 10%;
}
.Sponsorship-brand{
    font-size: 90%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(148, 147, 147);
    height: 25%;
}
.list-items-of-brand{
    display: flex;
    height: 50%;
    width: 100%;
}
.slide-list-items{
    display: flex;
    overflow: scroll;
    overflow-y: hidden ;
    height: 80px;
    width: 60%;
}
.see-more-list-items-of-brand{
    padding-top: 40px;
    padding-left: 30px;
    margin-left: 30px;
    width: 30%;
    border-left: dotted 1px gray;
}
.button-see-more-of-big-box{
    background-color: #0071ff;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    border: none;
    color: white;
}
.slide-list-item{
    width: 60px;
    margin-left: 5px;
    border-radius: 10px;
    border: solid 0.5px rgb(214, 214, 214);
}
/* dinh dang nut xem them */
.see-more-items{
    padding-left: 35%;
    background-color: #F5F5FA;
    height: 50px;
}
.button-see-more{
    align-items: center;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border:  solid 0.5px #0071ff;
    width: 35%;
    height: 100%;
    color: #0071ff;
    background-color: #F5F5FA;
    text-align: center;

}
.button-see-more:hover{
    background-color: #D7E3FB;
}
.text-of-see-more{
    margin-left: 10px;
    width: 100%;
    text-align: center;
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #0071ff;
}