body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
/* thanh freeship*/
.freeship{
    height: 50px;
    background-color: #f0fef4;
}
.text{
    padding-top: 0.9%;
    font-family: arial;
    font-size: 75%;
    text-align: center;
    color: #16b365;
}
#FS{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #1670ff;
    font-size: 110%;
}
#xtra{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #0daf5ed8;
    font-size: 110%;
}
.container-menu{
    display: flex;
    height: 15%;
}
/* logo */
.home-logo{
    position: relative;
    width: 8%;
    text-align: center;
    margin-left: 13%;
}
.home-logo #logo{
    width: 75%;
}
.home-logo #text{
    font-family: Arial, Helvetica, sans-serif;
    color: #0d48a6;
}
/* Thanh tìm kiếm */
.container-search{
    width: 990px;
    height: 60px;
}
.search{
    position: absolute;
    display: flex;
    width: 45%;
    height: 4%;
    border: solid 0.5px rgb(224, 224, 224);
    border-radius: 10px;
}
.icon-search{
    padding-top: 1%;
    padding-left: 3%;
    width: 3%;
    height: 68%;
}
.input-search{
    border: none;
    width: 80%;
}
.button-search{
    border: none;
    background-color: white;
    border-left: solid 0.4px rgb(224, 224, 224);
    text-align: center;
}
.link-search{
    text-decoration: none;
    text-align: center;
    color: #1670ff;
    font-size: 115%;
    padding-top: 1.5%;
}
/*shortcut */
.middle-container{
    display: flex;
}
.menu-shortcut{
    display: flex;
    height: 30px;
}
.shortcut-home{
    display: flex;
    width: 150px;
    padding: 2%;
    margin-left: 10%;
    margin-top: 1%;
}
.icon-home{
    margin-top: 2%;
}
.link-shortcut-home{
    text-align: justify;
    color: rgb(167, 166, 166);
    text-decoration: none;
    margin-left: 10%;
    margin-top: 5%;
    font-size: 110%;
}
.shortcut-user{
    display: flex;
    width: 150px;
    padding: 2%;
}
.link-shortcut-user{
    text-align: justify;
    color: rgb(167, 166, 166);
    text-decoration: none;
    margin-left: 10%;
    margin-top: 10%;
    font-size: 110%;
}
.icon-user{
    margin-top: 2%;
}
.shortcut-shoppingcart{
    display: flex;
}
.icon-card{
    margin-top: 26%;
}
.number{
    background-color: red;
    border:5px solid red ;
    border-radius: 200px;
    width: 3%;
    height: 10%;
}
/* foooter*/
footer{
    display: flex;
}
.logo-connect{
    width: 3%;
}
.icon-connect{
    width: 8%;
}
/*bottom header*/
.bottom-container{
    margin-top: 1%;
    display: flex;
    height: 20px;
}
.list-recommend{
    position: absolute;
    display: flex;
    width: 50%;
}
.link-recommend{
    text-decoration: none;
    color: gray;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 90%;
    padding-left: 1%;
}
.location{
    position: fixed;
    display: flex;
    width: 20%;
    height: 30px;
}
.img-location{
    width: 6.5%;
    height: 80%;
    margin-top: 5%;
    text-decoration: underline;
}
.address{
    padding-top: 6%;
}
.text-location{
    color: gray;
}